
@{
    ViewBag.Title = "Index";
}

<h2>My Patisserie</h2><br />

@Html.ActionLink("My Cakes", "Cakes", "Patisserie")
@Html.ActionLink("My Drinks", "Drinks", "Patisserie")
@Html.ActionLink("My Users", "Index", "Users")

